<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <h2 class="new">Edit Your Comment</h2>

    <div class="smallCenter">
      <div class="padFix">

      <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
          <div class="form-group">
            <textarea class="form-control" type="text" name="comment[text]"><%= comment.text %></textarea>
          </div>
          <button class="btn btn-default btn-lg btn-block">Submit!</button>
      </form>

      <a href="/campgrounds">Back</a>
    </div>
    </div>

  </div>
</div>
<% include ../partials/footer.ejs %>
