body {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

h2, h3 {
  margin: 0 0 15px 0;
}

h2.new  {
  text-align: center;
  color: white;
}

h2.login {
  text-align: center;
  color: #243B55;
}

a.register {
  /*padding: 15px;*/
  /*display: block;*/
  margin: 10px 10px;
  text-align: center;
  text-decoration: underline;
}

textarea.form-control {
  height: 100px;
}
#signup-content {
  padding:45px;
  background: white;
}

#signup {
  padding: 25px;
  background: #F9F9FB;
  border: 1px solid #E4E4E7;
  border-radius: 5px;
}

#benefits{
  line-height: 1.5;
  font-size: 14px;
}

#benefits p{
  margin: 0 0 15px 0;
}

.well {
  border-radius: 0;
}

.postMeta {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.4;
  padding-left: 10px;
  text-rendering: auto;
}

.sidebar {
    background-color: rgba(255,255,255,0);
    position: absolute;
    background: white;
    /*top: 0;*/
    right: 0;
    /*bottom: 0;*/
    width: 340px;
    padding: 0 0 60px 18px;
    box-sizing: border-box;
    z-index: 600;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;
}


.tos {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 0;
}

.inlineButton {
  display: inline;
}

.gridfix {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: inline;
  position: inherit;
}

.padFix {
  padding:25px;
}

.smallCenter {
  width: 30%;
  margin: 25px auto;
  /*padding: 25px;*/
  background: white;
  border: 1px solid #E4E4E7;
  border-radius: 5px;
}

.panel-footer {
  padding: 20px;
  display: block;
  font-size: 17px;
  color: #878797;
  font-weight: 100;
}

.caption-full {
  padding: 9px;
}

.thumbnail {
  padding: 0;
}

.thumbnail img{
  width: 100%;
}
