h1.new  {
  text-align: center;
}

.gridfix {
  display: flex;
  flex-wrap: wrap;
}

.smallCenter {
  width: 30%;
  margin: 25px auto;
}

.caption-full {
  padding: 9px;
}

.thumbnail {
  padding: 0;
}

.thumbnail img{
  width: 100%;
}
